<section class="post-comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'orlando23'; // required: replace example with your forum shortname
      

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          // see : if js is avaiable or not
          var request;
          if(window.XMLHttpRequest) {
              // see: https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/timeout
              request = new XMLHttpRequest();
              request.timeout = 2000; // 2 seconds for timout
          }
          else {
              request = new ActiveXObject("Microsoft.XMLHTTP");
          }
          request.open('GET', dsq.src, true);
          request.onreadystatechange = function(){
              if (request.readyState === 4){
                  if (request.status === 404) {  
                      //don't do any thing here'
                  }  
                  else {
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  }
              }
          };
          request.send();
      })();
  </script>
  <div id="disqus_logo">
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</section>