<footer class="footer">
    <span class="footer__copyright">This site follows <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution 4.0 International Protocol</a></span>
     <span class="footer__copyright">Published with <a href="http://ghost.org" title="link to Ghost website">Ghost</a>, hosted in <a href="https://help.aliyun.com/product/8314827_25365.html?spm=5176.doc25367.3.1.3JHNwC" title="link to ECS">Alicloud ECS</a></span>
    <span class="footer__copyright">This site is setup by by <a href="https://xiandaoairs.wordpress.com/" title="link to website for Orlando Ding">Orlando Ding</a>, using <a href="https://github.com/llv22/ono" title="link to page for Ono Ghost theme">Ono theme</a>. &copy; {{date format="YYYY"}}  All rights reserved. </span>
   
</footer>

