
<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/llv22" title="Orlando on Github">
      <i class='icon icon-social-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="https://twitter.com/orlandoairs22" title="@orlandoairs22 on Twitter">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Facebook -->
  <li class="navigation__item">
    <a href="https://www.facebook.com/lei.ding.9210" title="Orlando on Facebook">
      <i class='icon icon-social-facebook'></i>
      <span class="label">Facebook</span>
    </a>
  </li>

  <!-- RSS css class, still investigate to see Onevcat -->
  <!-- include scss/fonts.scss, then use css/fonts.css -->
  <li class="navigation__item">
    <a href="/rss/" title="Ghost RSS">
      <i class='icon icon-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:xiandao.airs@gmail.com" title="Hello Orlando">
      <i class='icon icon-mail'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>
